@-webkit-keyframes glow {
    50% { box-shadow: 0 0 20px #FF0000; }
}

@keyframes glow {
    50% { box-shadow: 0 0 20px #f62f3d; }
}

button {
    border-radius: inherit !important;
    height: 35px !important;
}

.connected {
    background: #1ebfae;
    color: #fff;
}

.connected:hover {
    background: #1ebfae;
    color: #fff;
    opacity: 0.5;
}

.failureglow {
    -webkit-animation: 1s glow ease-in-out infinite !important;
    animation: glow 2s ease-in-out infinite !important;
    background-color: #d73d32 !important;
    color: white;
    text-transform: uppercase;
}

.failureRed {
    background-color: #d73d32 !important;
    color: white;
    text-transform: uppercase;
}

.failureglow:hover {
    -webkit-animation: 1s glow ease-in-out infinite !important;
    animation: glow 2s ease-in-out infinite !important;
    background-color: #d73d32 !important;
    color: white;
    opacity: 0.5;
    text-transform: uppercase;
}

.circle {
    border-radius: 50%;
    content: ' \25CF';
    height: 18px;
    margin: 5px;
    padding: 5px;
    width: 18px;
}

.circle:hover {
    content: ' \25CF';
    height: 18px;
    opacity: 0.5;
    padding-bottom: 5px;
    width: 18px;
}

.rectangle {
    -ms-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    float: left; /* This is necessary */
    height: 40px;
    margin: 1px;
    padding: 0.5px;
    text-align: center;
    width: 100%;
}

.rectangle:hover {
    border-radius: 0px;
    color: #fff;
    float: left; /* This is necessary */
    height: 40px;
    margin: 1px;
    padding: 0.5px;
    text-align: center;
    width: 100%;
}

body {
    font: 1em/1.4 sans-serif;
    height: 100%;
    margin: 1em;
}

.tooltip {
    background-color: #222;
    color: #fff;
    display: none;
    max-width: 250px;
    padding: 7px 10px;
    position: absolute;
}

.tooltip-show { display: inherit; }

.tooltip-arrow {
    height: 0;
    position: absolute;
    width: 0;
}

.tooltip-down .tooltip-arrow {
    border-bottom: 5px solid #222;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: -5px;
}

.tooltip-up .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}

.tooltip-right .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #222;
    border-top: 5px solid transparent;
    left: -5px;
    margin-top: -3px;
    top: 50%;
}

.tooltip-left .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #222;
    border-top: 5px solid transparent;
    margin-top: -3px;
    right: -5px;
    top: 50%;
}